{{#each .}}
    <h2>{{league}}</h2>
    <ul class="teams">
        {{#each teams}}
            <li class="team"
                    {{!-- id="{{convertToId team}}" --}}
                    data-team="{{ team }}"
                    data-league="{{convertToId ../league}}"
                    data-colors="{{#each colors}}{{@key}} {{/each}}">
                <h3 class="team-name"
                    data-logo-url="assets/img/build/{{convertToId ../league}}/{{convertToId team}}.svg">
                    {{team}}
                </h3>
                <dl class="colors">
                    {{#each colors}}
                        <dt>HEX</dt>
                        {{#if this.hex}}
                            {{#each this}}
                                <dd>{{.}}{{hex}}</dd>
                            {{/each}}
                        {{/if}}                        
                    {{/each}}
                </dl>
            </li>
        {{/each}}
    </ul>
{{/each}}
