<!DOCTYPE HTML>
<html>
<head>
    <title>Team Hex Codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {{!-- <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css"> --}}
</head>
<body>
    <header id="header">
        <p class="intro-authors"><a href="http://twitter.com/jimniels">@jimniels</a> + <a href="http://lab.arc90.com/">Arc90 Lab</a> present:</p>
        <h1 class="intro-description"><strong>Team Colors</strong> Find and copy color values from your favorite sports teams.</h1>
        <p>Note: Some colors are official, some are approximations. <a href="#">Learn more &#8250;</a></p>
    </header>

    <nav id="navigation">
        <ul class="leagues">
            {{#each .}}
                <li id="nav-{{convertToId league}}" class="nav-league">
                    <a href="#{{convertToId league}}" class="nav-league__name">{{league}}</a>
                </li>
            {{/each}}
        </ul>
    </nav>

    <main id="content">
        {{#each .}}
            <h2 id="{{convertToId league}}" class="league-name">{{league}}</h2>
            <ul class="teams">
                {{#each teams}}
                    <li class="team"
                            {{!-- id="{{convertToId team}}" --}}
                            data-team="{{ team }}"
                            data-league="{{convertToId ../league}}"
                            data-colors="{{#each colors}}{{@key}} {{/each}}">
                        <h3 class="team-name"
                            data-logo-url="assets/img/build/{{convertToId ../league}}/{{convertToId team}}.svg">
                            {{team}}
                        </h3>
                        {{> colors}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </main>
    

    <footer id="footer">
        <p>Want to add a new team or league? Want to make a correction? <a href="https://github.com/teamcolors/teamcolors.github.io">Find the source code on Github &raquo;</a></p>
    </footer>

    <!-- Script includes -->
    <script src="assets/scripts/src/jquery.1.8.js"></script>
    <script src="assets/scripts/src/js.js"></script>
    <script src="assets/scripts/src/loadcss.js"></script>
    <script src="assets/scripts/src/lazyload.js"></script>

    <!-- Google Analytics 
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2118091-16']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script> -->
</body>
</html>